---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section class="hero">
				<p class="tagline">
					I am a Senior Engineer with experience in:
				</p>
				<ul class="tagline-list">
					<li>Distributed storage systems</li>
					<li>Distributed databases</li>
					<li>Embedded systems (60GHz wireless backhaul products)</li>
					<li>Scalable, highly available web applications</li>
					<li>LLM inference serving (currently exploring)</li>
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>

<style>
	main {
		max-width: 720px;
		margin: 0 auto;
		padding: 3em 1em;
	}
	.tagline {
		font-size: 1.2em;
		color: rgb(var(--gray-dark));
	}
	.tagline-list {
		font-size: 1.2em;
		color: rgb(var(--gray-dark));
		list-style: disc outside !important;
		padding-left: 1.5em !important;
		margin: 0.5em 0 1em;
		font-family: inherit;
		line-height: 1.7;
	}
	.tagline-list li {
		display: list-item !important;
		margin-bottom: 0.35em;
	}
</style>
